<html><head>
<title>monomine</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<style>
html {font-size:12px;font-family:sans-serif;line-height:1.3;}
a {text-decoration:none;}
a.tag {display:inline-block;font-size:0.8em;color:#222;background:#ddd;padding:1px 7px;}
input {max-width:600px;width:60%;margin:1em 0;padding:0.5em;}
table {font-size:1rem;width:95%;}
button {padding:0.5em 1em;border:1px solid #333;cursor:pointer;}
button:hover {background:#eee;}
#reset {background:#fff;}
#reset:hover {background:#f8f8f8;}
#fulltext {margin-left:1em;}
td {vertical-align:middle;}
td p {line-height:1.6;margin:0;}
td.id {width:60px;}
td.status {width:60px;}
td.author {width:60px;}
td.updated {width:80px;}
td.due {width:80px;color:#666;}
td.subject a.title {font-size:1.1em;}
@media only screen and (max-width: 1000px) {
  a.tag {padding:1px 5px;background:bisque}
  a.tag span {display:none;}
  a.tag::before {content:attr(x-title);color:#222;}
  td.due {display:none;}
  td.{display:none;}
}
</style>
</head>
<body>
<form action='/' method=GET>
<input autocomplete="off" autofocus type='text' value='{{request.args.q}}' name='q'>
<button type='submit'>検索</button>
<button type='button' id='reset'>クリア</button>
<a href='javascript:;' id='fulltext'>全文検索≫</a>
</form>
<table>
{% for tk in tickets %}
<tr>
<td class='id'><a tabindex=-1 href='{{CONFIG.core.url}}/issues/{{tk.id}}'>#{{tk.id}}</a></td>
<td class='status'>{{tk.status.name}}</td>
<td class='author'>{{tk.author.name}}</td>
<td class='updated'>{{tk.updated_on|dt_reldays|safe}}</td>
<td class='subject'><p>
  <a href='{{CONFIG.core.url}}/issues/{{tk.id}}' target='_blank' class='title'>{{tk.subject}}</a>
  <a href='?q={{tk.project.name}}' class='tag' tabindex=-1
   title='{{tk.project.name}}' x-title='{{tk.project.name[0:3]}}'>
    <span>{{tk.project.name}}</span>
  </a>
</td>
</tr>
{% endfor %}
</table>
<script>
var REDMINE_URL = "{{CONFIG.core.url}}/search?&scope=all&order_type=desc&order_target=date&q=";
var $full = document.querySelector("#fulltext");
var $q = document.querySelector("input[name=q]");
$full.addEventListener("click", function() {
  location.href = REDMINE_URL + encodeURIComponent($q.value);
});

var $reset = document.querySelector("#reset");
$reset.addEventListener("click", function() {
  location.href = '/';
});
</script>
</body></html>
